 {% form_theme form './form/jquery.collection.html.twig' %}
{{ form_start(form) }}
<div class="container bg-white">
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
</div>

{{ form_end(form) }}

